[[source]]
url = "https://pypi.org/simple"
verify_ssl = true
name = "pypi"

[packages]
django = "*"
python-dotenv = "*"
dj-database-url = "*"
sentry-sdk = "==0.7.2"

[dev-packages]

[requires]
python_version = "3.6"
