* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    background-color: #efefef;
    font-size: larger;
}

.container {
    max-width: 1300px;
    width: 90%;
    margin: 0 auto;

    padding: 10px 0;
}

@media (max-width: 480px) {
    .container {
        width: 95%;
    }
}

.container > h1 {
    text-align: center;
    padding: 0 10px;
    margin-bottom: 15px;
}

a,
a:hover,
a:visited,
a:active {
    text-decoration: none;
    color: #402ecb;
    font-weight: bold;
    transition-duration: .3s;
}

a:hover,
a:active {
    color: #b72935;
}
