{% extends "app/base.html" %}

{% block title %}Добавить заказ{% endblock %}

{% block head %}
    {% load static %}
    <link rel="stylesheet" href="{% static 'app/fontello/css/fontello.css' %}">
    <link rel="stylesheet" href="{% static 'app/css/add_order.css' %}">
    <link rel="stylesheet" href="{% static 'app/dynamic_templates/product.css' %}">
    <link rel="stylesheet" href="{% static 'app/dynamic_templates/product__parameters.css' %}">
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/flatpickr/dist/flatpickr.min.css">
{% endblock %}

{% block header %}
    <label for="order-id">
        Добавить заказ №
        <input type="number" value="{{ new_order_id }}" id="order-id" class="order-id-input">
    </label>
{% endblock %}

{% block content %}
    <main>
        <section class="wrapper">
            <div class="products"></div>
            <button id="add-product" class="button btn-add-product">+</button>
            <button id="save-order" class="button btn-save-order">Сохранить заказ</button>
        </section>
        <aside>
            <label for="order-datetime">
                Дата и время заказа
                <input type="text" id="order-datetime">
            </label>
            <label for="delivery-date">
                Дата доставки
                <input type="text" id="delivery-date">
            </label>
            <label for="delivery-time">
                Время доставки
                <input type="text" id="delivery-time">
            </label>
            <label for="main-phone-input">
                Телефон
                <input id="main-phone-input" required>
            </label>
            <label for="add-phone-input">
                Доп. телефон
                <input id="add-phone-input">
            </label>
            <div class="address">
                <label for="index-input">
                    Индекс
                    <input id="index-input" type="number">
                </label>
                <label for="area-input">
                    Область
                    <input type="text" id="area-input">
                </label>
                <label for="city-input">
                    Город
                    <input type="text" value="Минск" id="city-input">
                </label>
                <label for="street-type-select">
                    Тип улицы
                    <select id="street-type-select">
                        {% for id, value in street_types %}
                            <option value="{{ id }}">{{ value }}</option>
                        {% endfor %}
                    </select>
                </label>
                <label for="street-input">
                    Улица
                    <input type="text" id="street-input">
                </label>
                <label for="house-input">
                    Дом
                    <input type="text" id="house-input">
                </label>
                <label for="building-input">
                    Корпус
                    <input type="text" id="building-input">
                </label>
                <label for="flat-input">
                    Квартира
                    <input type="number" id="flat-input">
                </label>
                <label for="floor-input">
                    Этаж
                    <input type="number" id="floor-input">
                </label>
                <label for="entrance-input">
                    Подъезд
                    <input type="number" id="entrance-input">
                </label>
                <label for="order-comment-area">
                    Комментарий
                    <textarea id="order-comment-area" cols="30" rows="3" class="comment-area"></textarea>
                </label>
            </div>
        </aside>
    </main>
{% endblock %}

{% block scripts %}
    <script>
      window.types = [
        {% for type in types %}
          {
            id: {{ type.id }},
            name: '{{ type.name }}'
          },
        {% endfor %}
      ];
      window.createProductTypeLink = '{% url 'admin:app_producttype_add' %}';
    </script>
    <script src="https://npmcdn.com/flatpickr/dist/flatpickr.min.js"></script>
    <script src="https://npmcdn.com/flatpickr/dist/l10n/ru.js"></script>
    <script src="{% static 'app/js/name_creator.js' %}"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/handlebars.js/4.0.12/handlebars.runtime.js"
            integrity="sha256-BtsRmiQclHL1u5tbgsccCGYRl/l7cDCRfS786gntiRI="
            crossorigin="anonymous"></script>
    <script src="{% static 'app/dynamic_compiled_templates/product.js' %}"></script>
    <script src="{% static 'app/dynamic_compiled_templates/product__parameters.js' %}"></script>
    <script src="{% static 'app/js/add_order.js' %}"></script>
{% endblock %}
