{% extends "app/base.html" %}

{% block title %}Добавить заказ{% endblock %}

{% block head %}
    {% load static %}
    <link rel="stylesheet" href="{% static 'app/css/add_order.css' %}">
{% endblock %}

{% block header %}
    Добавить заказ
{% endblock %}

{% block content %}
    <main>
        <label for="name-input" class="name-label">
            Имя
            <input type="text" id="name-input" class="name-input" disabled name="name">
        </label>
        <span id="product-type">Тип товара</span>
        <section class="buttons-wrapper">
            {% for type in types %}
                <button class="button choose-type-button" value="{{ type.id }}">
                    {{ type.name }}
                </button>
            {% empty %}
                <span>
                    Ещё нету типов товаров, <a
                        href="{% url 'admin:app_producttype_add' %}"
                >создай первый</a>!
                </span>
            {% endfor %}
        </section>
    </main>
{% endblock %}

{% block scripts %}
    <script src="{% static 'app/js/add_order.js' %}"></script>
{% endblock %}
