{% extends "app/base.html" %}

{% block title %}Добавить заказ{% endblock %}

{% block head %}
    {% load static %}
    <link rel="stylesheet" href="{% static 'app/add_order.css' %}">
{% endblock %}

{% block content %}
    <h1>Добавить заказ</h1>
    <main>
        <label for="name-input">
            Имя
            <input type="text" id="name-input" class="name-input" disabled name="name">
        </label>
        <span>Тип товара</span>
        <section class="buttons-wrapper">
            {% for type in types %}
                <button type="submit" class="button" value="{{ type.id }}">
                    {{ type.name }}
                </button>
            {% endfor %}
        </section>
    </main>
{% endblock %}