@import url('./spinkit.css');

.order-id-input {
    height: 2em;
    width: 80px;
    padding: 5px;
    border-radius: 5px;
    border: 1px solid black;
    vertical-align: middle;
}

main {
    display: flex;
}

.products {
    width: 70%;
    text-align: center;
}

aside {
    width: 30%;
    min-width: 300px;
    display: flex;
    flex-direction: column;
}

aside label {
    margin-bottom: 5px;
}

aside label:last-child {
    margin-bottom: 0;
}

aside input {
    width: 150px;
    padding: 5px;
    border-radius: 4px;
    border: 1px solid black;
}

aside input[type="number"] {
    width: 90px;
}

@media (min-width: 961px) {
    aside {
        position: fixed;
        top: 150px;
        right: 0;
    }
}

@media (max-width: 960px) {
    main {
        flex-direction: column-reverse;
        align-items: center;
    }

    aside {
        margin-bottom: 20px;
    }

    .products {
        width: 80%;
    }
}

@media (max-width: 640px) {
    .products {
        width: 90%;
    }
}

@media (max-width: 480px) {
    .products {
        width: 95%;
    }
}

.address {
    display: flex;
    flex-direction: column;
}

.product {
    background: #d8d8d8;
    padding: 10px;
    margin-bottom: 15px;
    border-radius: 10px;
}

.name-input {
    width: 350px;
    max-width: 95%;
    padding: 5px;
    border-radius: 5px;
    border: 1px solid black;
    background-color: #F5F5F6;
    color: black;
}

.name-label {
    display: block;
    margin-bottom: 15px;
}

.buttons-wrapper {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.button {
    max-width: 95%;
    width: 300px;
    padding: 15px 0;
    margin-top: 10px;
    border-radius: 10px;
    border: 1px solid black;

    background-color: white;
    cursor: pointer;

    transition-duration: 300ms;
}

.button:hover,
.button:active {
    background-color: #c3cbea;
}


.loader > .sk-circle {
    width: 60px;
    height: 60px;
}

.parameters {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
}

.parameter {
    margin: 0 10px 5px 0;
}

.parameter > span {
    margin-right: 5px;
}

.btn-add-product {
    font-size: xx-large;
    padding: 0;
    width: 60px;
}

.btn-add-product:hover,
.btn-add-product:active {
    background-color: darkgreen;
    color: white;
}
