* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    background-color: #efefef;
    font-size: larger;
}

.container {
    max-width: 1024px;
    width: 80%;
    margin: 0 auto;

    padding: 10px 0;
}

h1 {
    text-align: center;
    margin-bottom: 15px;
}